books.dtd

<!ELEMENT bookstore (book*)>
<!ELEMENT book (title,(author+),year,price)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT price (#PCDATA)>

<!ATTLIST book
category CDATA #REQUIRED
cover CDATA #IMPLIED (hardback|paperback)>

<!ATTLIST title lang CDATA #REQUIRED "en">
